@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
body {
  background-color: #faced2;
  overflow-x: hidden; }

nav, footer {
  background-color: #ffe599; }

.card {
  background-color: #dfa1d4; }

h1 {
  font-size: 3em;
  line-height: 3em;
  color: rgba(255, 68, 168, 0.668);
  text-align: center;
  padding: 4px; }

h2 {
  font-size: 2em;
  line-height: 2.4em;
  color: rgba(255, 68, 168, 0.668);
  text-align: center;
  padding: 4px; }

p {
  font-size: 1.5em;
  line-height: 2em;
  color: black;
  text-align: center;
  padding: 4px; }

.card p {
  font-size: 1em;
  line-height: 1.4em;
  color: black;
  text-align: center;
  padding: 4px; }
